.container  
  %h1
    Orders list
  %table.table
    %thead.thead-dark
      %tr
        %th{:scope => "col"} #
        %th{:scope => "col"} Placed At
        %th{:scope => "col"} Price
        %th{:scope => "col"} View Order
    %tbody
       - current_user.purchases.each do |purchase|
        %tr
          %td #{purchase.id}
          %td #{ purchase.placed_at }
          %td Rs #{ purchase.price }
          %td 
            %a{href: "/orders/#{purchase.id}"} View Order
