.container  
  %h1
    Products
  .row
    - @products.each do |product|
      .col-md-4
        .card{:style => "width: 10rem;"}
          %img.card-img-top{:alt => "Microsoft", :src => "https://images-na.ssl-images-amazon.com/images/I/71yVflZyOYL._SL1500_.jpg"}/
        .card-body
          %h5.card-title #{product.name}
          %p.card-text #{product.description}
        %ul.list-group.list-group-flush
          %li.list-group-item
            Price: 
            %b $ #{product.price}
          %li.list-group-item
            Offer Price: 
            %b $ #{product.offer_price}
        .card-body
          %a.card-link{:href => "#", class: 'btn btn-info'} Add to cart
          %a.card-link{:href => "#", class: 'btn btn-warning'} Buy Now
