%h2
  Hi #{@user.name}
%p
  This is a confirmation of your recent order with DigiShop.
%p
  Your Order ID is ##{@order.id}. Check your order deails here 
  %a{href: @url} Order Details
%p Thanks for shopping with us. Have a great day!
